/* ===============================================Navigation==================================================================== */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 7px;
}

/* ==============================================Home============================================================================ */

#home {
    height: 280px;
    padding: 3px 25px;
    /* flex-direction: column; */
}

#home::before {
    height: 400px;
    /* font-size: 10px; */
}

#home p {
    font-size: 12px;
}

/* ========================================Services and Books==================================================================== */

#services {
    flex-direction: column;
}

#services .box {}

#books_for_BBA {
    flex-direction: column;
}

#books_for_BBA .box {}

span {
    justify-content: center;
}

/* =============================================Contact Us======================================================================= */

/* ===================================================footer===================================================================== */

/* =================================heading and buttons========================================================================== */

.h-primary {
    font-size: 20px;
}

.btn {
    font-size: 11px;
    padding: 3px 7px;
}